/*.it-body{*/
/*    padding-left: 300px;*/
/*    padding-right: 300px;*/
/*}*/
.right-info{
    /*padding-left: 10%;*/
    /*padding-right: 10%;*/
    background-color: #FFE4E3;
}
.send-info{
    margin-bottom: 20px;
}
.text-edit{
    padding-right: 20px;
}
.head-img{
    height: 80px;
    width: 80px;
}
.card-imgs{
    height: 400px;
    width: 800px;

}
.card-footer{
    justify-content: space-between;
}
.btn{
    height: auto;
}
.icon{
    height: 30px;
    width: 30px;
}
.ci{
    margin-bottom: 20px;
}
